<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MINRISTYLE</title>
<link rel="stylesheet" href="./css/style.css">
 <link rel="icon" href="icon.png">
<meta name="description" content="common, мистер fish, this a good plase.">
<meta name="keywords" content="тату, стили тату, рекомендации для тату">
<meta name="author" content="Полевчук Каролина Александровна">

<meta property="og:title" content="MinriStyle">
<meta property="og:description " content="common, мистер fish, this a good plase.">
<meta property="og:image" content="./images/preview.png">


<link rel="manifest" href="manifest.json">